<?xml version="1.0"?>
<model>
  <name>Tiltrotor</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
   <name>Roman Bapst</name>
   <email>roman@px4.io</email>
  </author>

  <description>
    This is a model for a quad-tiltrotor with motors in x configuration.
  </description>
</model>
