menuconfig MODULES_DATAMAN
	bool "dataman"
	default n
	---help---
		Enable support for dataman


menuconfig USER_DATAMAN
	bool "dataman running as userspace module"
	default y
	depends on BOARD_PROTECTED && MODULES_DATAMAN
	---help---
		Put dataman in userspace memory


menuconfig DATAMAN_PERSISTENT_STORAGE
	bool "dataman supports persistent storage"
	default y
	depends on MODULES_DATAMAN
	---help---
		Dataman supports reading/writing to persistent storage
