menuconfig MODULES_ROBOSUB_RS_PWM_LED
	bool "robosub_pwm_led"
	default n
	---help---
		Enable support for robosub_pwm_led

menuconfig USER_ROBOSUB_RS_PWM_LED
	bool "robosub_pwm_led running as userspace module"
	default y
	depends on BOARD_PROTECTED && MODULES_ROBOSUB_RS_MOTOR_CONTROL
	---help---
		Put robosub_pwm_led in userspace memory
