#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config NAMEDAPP
	bool "Support named applications"
	default n
	---help---
		Enable support for named applications.  This features assigns a string
		name to an application.  This feature is also the underlying requirement
		to support built-in applications in the NuttShell (NSH).

if NAMEDAPP
endif
