#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config INTERPRETERS_FICL
	bool "Ficl Forth interpreter"
	default n
	---help---
		Enable support for the Ficl interpreter interpreter.  See README.txt file in the
		apps/interpreters/ficl directory.  Use of this configuration assumes
		that you have performed the required installation of the Ficl run-time code.

if INTERPRETERS_FICL
endif

