menuconfig MODULES_ROVER_POS_CONTROL
	bool "rover_pos_control"
	default n
	---help---
		Enable support for rover_pos_control

menuconfig USER_ROVER_POS_CONTROL
	bool "rover_pos_control running as userspace module"
	default y
	depends on BOARD_PROTECTED && MODULES_ROVER_POS_CONTROL
	---help---
		Put rover_pos_control in userspace memory
