#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_NULL
	bool "NULL example"
	default n
	---help---
		Enable the NULL example

if EXAMPLES_NULL
endif
