#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_HELLOXX
	bool "\"Hello, World!\" C++ example"
	default n
	---help---
		Enable the \"Hello, World!\" C++ example

if EXAMPLES_HELLOXX
endif
