#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_HIDKBD
	bool "USB HID keyboard example"
	default n
	---help---
		Enable the USB HID keyboard example

if EXAMPLES_HIDKBD
endif
