#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config FS_ROMFS
	bool "ROMFS file system"
	default n
	depends on !DISABLE_MOUNTPOINT
	---help---
		Enable ROMFS filesystem support

if FS_ROMFS
endif
