menuconfig SYSTEMCMDS_SS_IO_TIMER_TEST
	bool "Simple stupid IO Timer tester"
	default n
	---help---
		System command test low-level IO timer
		WARNING: No mixer, hence no safety use at your own risk

menuconfig USER_SS_IO_TIMER_TEST
	bool "ss_io_timer_test running as userspace module"
	default y
	depends on BOARD_PROTECTED && SYSTEMCMDS_SS_IO_TIMER_TEST
	---help---
		Put reflect in userspace memory
