<?xml version="1.0"?>
<model>
  <name>foxtech_loong_2160</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
   <name>Alejandro Hernandez Cordero</name>
   <email>alejandro@OpenRobotics.org</email>
  </author>

  <description>
    This is a model of a VTOL.
  </description>
</model>
