#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if ARCH_BOARD_MIRTOO
config ARCH_LEDS
	bool "NuttX LED support"
	default n
	---help---
		"Support control of board LEDs by NuttX to indicate system state"

config MIRTOO_RELEASE
	int "Mirtoo Release 1 (R1)"
	default 2
	---help---
		Select the Mirtoo release number
endif
