---
Checks:          '*,
                  -*-avoid-c-arrays,
                  -*-magic-numbers,
                  -*-uppercase-literal-suffix,
                  -altera-id-dependent-backward-branch,
                  -altera-struct-pack-align,
                  -altera-unroll-loops,
                  -android*,
                  -bugprone-branch-clone,
                  -bugprone-dynamic-static-initializers,
                  -bugprone-easily-swappable-parameters,
                  -bugprone-implicit-widening-of-multiplication-result,
                  -bugprone-incorrect-roundings,
                  -bugprone-integer-division,
                  -bugprone-macro-parentheses,
                  -bugprone-narrowing-conversions,
                  -bugprone-not-null-terminated-result,
                  -bugprone-redundant-branch-condition,
                  -bugprone-reserved-identifier,
                  -bugprone-signed-char-misuse,
                  -bugprone-suspicious-include,
                  -bugprone-too-small-loop-variable,
                  -bugprone-unhandled-self-assignment,
                  -cert-dcl37-c,
                  -cert-dcl50-cpp,
                  -cert-dcl51-cpp,
                  -cert-env33-c,
                  -cert-err33-c,
                  -cert-err34-c,
                  -cert-err58-cpp,
                  -cert-flp30-c,
                  -cert-msc30-c,
                  -cert-msc32-c,
                  -cert-msc50-cpp,
                  -cert-msc51-cpp,
                  -cert-oop54-cpp,
                  -cert-str34-c,
                  -clang-analyzer-core.CallAndMessage,
                  -clang-analyzer-core.NullDereference,
                  -clang-analyzer-core.UndefinedBinaryOperatorResult,
                  -clang-analyzer-core.uninitialized.Assign,
                  -clang-analyzer-core.VLASize,
                  -clang-analyzer-cplusplus.NewDelete,
                  -clang-analyzer-cplusplus.NewDeleteLeaks,
                  -clang-analyzer-deadcode.DeadStores,
                  -clang-analyzer-optin.cplusplus.VirtualCall,
                  -clang-analyzer-optin.performance.Padding,
                  -clang-analyzer-security.FloatLoopCounter,
                  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
                  -clang-analyzer-security.insecureAPI.strcpy,
                  -clang-analyzer-unix.API,
                  -clang-analyzer-unix.cstring.BadSizeArg,
                  -clang-analyzer-unix.Malloc,
                  -clang-analyzer-unix.MallocSizeof,
                  -concurrency-mt-unsafe,
                  -cppcoreguidelines-avoid-c-arrays,
                  -cppcoreguidelines-avoid-goto,
                  -cppcoreguidelines-avoid-magic-numbers,
                  -cppcoreguidelines-avoid-non-const-global-variables,
                  -cppcoreguidelines-c-copy-assignment-signature,
                  -cppcoreguidelines-explicit-virtual-functions,
                  -cppcoreguidelines-init-variables,
                  -cppcoreguidelines-interfaces-global-init,
                  -cppcoreguidelines-macro-usage,
                  -cppcoreguidelines-narrowing-conversions,
                  -cppcoreguidelines-no-malloc,
                  -cppcoreguidelines-non-private-member-variables-in-classes,
                  -cppcoreguidelines-owning-memory,
                  -cppcoreguidelines-prefer-member-initializer,
                  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
                  -cppcoreguidelines-pro-bounds-constant-array-index,
                  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
                  -cppcoreguidelines-pro-type-const-cast,
                  -cppcoreguidelines-pro-type-cstyle-cast,
                  -cppcoreguidelines-pro-type-member-init,
                  -cppcoreguidelines-pro-type-reinterpret-cast,
                  -cppcoreguidelines-pro-type-union-access,
                  -cppcoreguidelines-pro-type-vararg,
                  -cppcoreguidelines-special-member-functions,
                  -cppcoreguidelines-virtual-class-destructor,
                  -fuchsia-*,
                  -fuchsia-default-arguments-calls,
                  -fuchsia-default-arguments-declarations,
                  -fuchsia-statically-constructed-objects,
                  -google-build-using-namespace,
                  -google-explicit-constructor,
                  -google-global-names-in-headers,
                  -google-readability-casting,
                  -google-readability-function-size,
                  -google-readability-namespace-comments,
                  -google-readability-todo,
                  -google-runtime-int,
                  -google-runtime-references,
                  -hicpp-avoid-c-arrays,
                  -hicpp-avoid-goto,
                  -hicpp-deprecated-headers,
                  -hicpp-explicit-conversions,
                  -hicpp-function-size,
                  -hicpp-member-init,
                  -hicpp-multiway-paths-covered,
                  -hicpp-named-parameter,
                  -hicpp-no-array-decay,
                  -hicpp-no-assembler,
                  -hicpp-no-malloc,
                  -hicpp-signed-bitwise,
                  -hicpp-special-member-functions,
                  -hicpp-uppercase-literal-suffix,
                  -hicpp-use-auto,
                  -hicpp-use-equals-default,
                  -hicpp-use-equals-delete,
                  -hicpp-use-override,
                  -hicpp-vararg,
                  -llvm-else-after-return,
                  -llvm-header-guard,
                  -llvm-include-order,
                  -llvm-namespace-comment,
                  -llvm-qualified-auto,
                  -llvmlibc-*,
                  -llvmlibc-callee-namespace,
                  -llvmlibc-implementation-in-namespace,
                  -llvmlibc-restrict-system-libc-headers,
                  -misc-incorrect-roundings,
                  -misc-macro-parentheses,
                  -misc-misplaced-widening-cast,
                  -misc-no-recursion,
                  -misc-non-private-member-variables-in-classes,
                  -misc-redundant-expression,
                  -misc-unconventional-assign-operator,
                  -misc-unused-parameters,
                  -modernize-avoid-c-arrays,
                  -modernize-deprecated-headers,
                  -modernize-loop-convert,
                  -modernize-pass-by-value,
                  -modernize-raw-string-literal,
                  -modernize-return-braced-init-list,
                  -modernize-use-auto,
                  -modernize-use-bool-literals,
                  -modernize-use-default-member-init,
                  -modernize-use-equals-default,
                  -modernize-use-equals-delete,
                  -modernize-use-override,
                  -modernize-use-trailing-return-type,
                  -modernize-use-using,
                  -performance-inefficient-string-concatenation,
                  -performance-no-int-to-ptr,
                  -performance-type-promotion-in-math-fn,
                  -readability-avoid-const-params-in-decls,
                  -readability-const-return-type,
                  -readability-container-size-empty,
                  -readability-convert-member-functions-to-static,
                  -readability-delete-null-pointer,
                  -readability-duplicate-include,
                  -readability-else-after-return,
                  -readability-function-cognitive-complexity,
                  -readability-function-size,
                  -readability-identifier-length,
                  -readability-implicit-bool-cast,
                  -readability-implicit-bool-conversion,
                  -readability-inconsistent-declaration-parameter-name,
                  -readability-isolate-declaration,
                  -readability-magic-numbers,
                  -readability-make-member-function-const,
                  -readability-misplaced-array-index,
                  -readability-named-parameter,
                  -readability-non-const-parameter,
                  -readability-qualified-auto,
                  -readability-redundant-access-specifiers,
                  -readability-redundant-declaration,
                  -readability-simplify-boolean-expr,
                  -readability-static-accessed-through-instance,
                  -readability-static-definition-in-anonymous-namespace,
                  -readability-suspicious-call-argument,
                  -readability-uppercase-literal-suffix,
                  -readability-use-anyofallof,
                 '
WarningsAsErrors: '*'
CheckOptions:
  - key:             google-readability-function-size.BranchThreshold
    value:           '600'
  - key:             google-readability-function-size.LineThreshold
    value:           '4000'
  - key:             google-readability-function-size.StatementThreshold
    value:           '4000'
...
