Checks:          '-*,readability-braces-around-statements'
WarningsAsErrors: readability-braces-around-statements
HeaderFilterRegex: '*.h, *.hpp'
AnalyzeTemporaryDtors: false
CheckOptions:
  - key:             readability-braces-around-statements.ShortStatementLines
    value:           '1'
