[submodule "dsdl"]
	path = dsdl
	url = https://github.com/UAVCAN/dsdl
[submodule "libuavcan/dsdl_compiler/pyuavcan"]
	path = libuavcan/dsdl_compiler/pyuavcan
	url = https://github.com/UAVCAN/pyuavcan
