argparse
argcomplete
coverage
cerberus
empy
jinja2
kconfiglib
matplotlib==3.0.*
numpy
nunavut>=1.1.0
packaging
pkgconfig
pyros-genmsg
pyulog
pyyaml
requests
serial
six
toml
psutil
wheel
jsonschema
dataclasses
pynacl
