menuconfig SYSTEMCMDS_DMESG
	bool "dmesg"
	default n
	---help---
		Enable support for dmesg

menuconfig USER_DMESG
	bool "dmesg running as userspace module"
	default n
	depends on BOARD_PROTECTED && SYSTEMCMDS_DMESG
	---help---
		Put dmesg in userspace memory
