<?xml version="1.0"?>
<model>
  <name>Advanced Plane</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
   <name>Karthik Srivatsan</name>
  </author>

  <description>
    This is a model of a standard plane, which uses the advanced liftdrag plugin.
  </description>
</model>
