#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

comment "File system configuration"

source fs/mmap/Kconfig
source fs/fat/Kconfig
source fs/nfs/Kconfig
source fs/nxffs/Kconfig
source fs/romfs/Kconfig
source fs/binfs/Kconfig

comment "System Logging"

config SYSLOG
	bool "System logging"
	default n
	---help---
		Enables generic system logging features.

config SYSLOG_DEVPATH
	string "System log device"
	default "/dev/syslog"
	depends on SYSLOG
	---help---
		The full path to the system logging device.  For the RAMLOG SYSLOG device,
		this is normally "/dev/ramlog".  For character SYSLOG devices, it should be
		some other existing character device (or file) supported by the configuration
		(such as "/dev/ttyS1")/

config SYSLOG_CHAR
	bool "System log character device support"
	default y
	depends on SYSLOG
	---help---
		Enable the generic character device for the SYSLOG. The full path to the
		SYSLOG device is provided by SYSLOG_DEVPATH. A valid character device (or
		file) must exist at this path.  It will by opened by syslog_initialize.

		Do not enable more than one SYSLOG device.
