#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

comment "File system configuration"

config DISABLE_MOUNTPOINT
	bool "Disable support for mount points"
	default n

source fs/mmap/Kconfig
source fs/fat/Kconfig
source fs/nfs/Kconfig
source fs/nxffs/Kconfig
source fs/romfs/Kconfig
source fs/binfs/Kconfig

comment "System Logging"

config SYSLOG_ENABLE
	bool "Enable SYSLOG Controls"
	default n
	---help---
		Support an interface called syslog_enable to dynamically enable or
		disable SYSLOG output.  Default:  SYSLOG output is always enabled.

config SYSLOG
	bool "Advanced SYSLOG features"
	default n
	---help---
		Enables generic system logging features.  NOTE: This setting is not
		required to enable system logging.  If this feature is not enable
		system logging will still be available and will log to the system
		console (like printf()).  This setting is required to enable
		customization of the basic system loggin capability.

if SYSLOG

config SYSLOG_CHAR
	bool "System log character device support"
	default y
	---help---
		Enable the generic character device for the SYSLOG. The full path to the
		SYSLOG device is provided by SYSLOG_DEVPATH. A valid character device (or
		file) must exist at this path.  It will by opened by syslog_initialize.

		Do not enable more than one SYSLOG device.

config SYSLOG_DEVPATH
	string "System log device"
	default "/dev/syslog"
	depends on SYSLOG_CHAR
	---help---
		The full path to the system logging device.  For the RAMLOG SYSLOG device,
		this is normally "/dev/ramlog".  For character SYSLOG devices, it should be
		some other existing character device (or file) supported by the configuration
		(such as "/dev/ttyS1")/

endif
