#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

comment "File system configuration"
source fs/fat/Kconfig
source fs/mmap/Kconfig
source fs/nfs/Kconfig
source fs/nxffs/Kconfig
source fs/romfs/Kconfig