#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_ROMFS
	bool "ROMFS example"
	default n
	---help---
		Enable the ROMFS example

if EXAMPLES_ROMFS
endif
