#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

# TODO: Maybe put all tests into separate config file
muorb test
MUORB_TEST_STATUS=$?
if [ $MUORB_TEST_STATUS -ne 0 ]; then
    /bin/echo "muorb test failed!"
    exit 0
fi

muorb start
