#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if ARCH_BOARD_PX4FMU_V1

config HRT_TIMER
	bool "High resolution timer support"
	default y
	---help---
		Enable high resolution timer for PPM capture and system clocks.

config HRT_PPM
	bool "PPM input capture"
	default y
	depends on HRT_TIMER
	---help---
		Enable PPM input capture via HRT (for CPPM / PPM sum RC inputs)

endif
