#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_USBSERIAL
	bool "USB serial test example"
	default n
	---help---
		Enable the USB serial test example

if EXAMPLES_USBSERIAL
endif
