menuconfig DRIVERS_RC_CRSF_RC
	bool "crsf_rc"
	default n
	---help---
		Enable support for crsf rc

if DRIVERS_RC_CRSF_RC

config RC_CRSF_INJECT
	bool "Inject CRSF RC"
	default n
	---help---
		Enable this to inject CRSF RC commands.

endif # DRIVERS_RC_CRSF_RC
