<?xml version="1.0"?>
<!--
 ...........       ____  _ __
 |  ,-^-,  |      / __ )(_) /_______________ _____  ___
 | (  O  ) |     / __  / / __/ ___/ ___/ __ `/_  / / _ \
 | / ,..´  |    / /_/ / / /_/ /__/ /  / /_/ / / /_/  __/
    +.......   /_____/_/\__/\___/_/   \__,_/ /___/\___/

MIT License

Copyright (c) 2022 Bitcraze
-->
<model>
  <name>crazyflie</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Kimberly McGuire (Bitcraze AB)</name>
    <email>kimberly@bitcraze.io</email>
  </author>
  <description>
    A model of the Crazyflie 2.X nano-quadcopter
  </description>
</model>
