#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_QENCODER
	bool "Quadrature encoder example"
	default n
	---help---
		Enable the quadrature encoder example

if EXAMPLES_QENCODER
endif
