Package: px4-firmware-updater
Version: 
Maintainer: Jani Paalijärvi <jani.paalijarvi@unikie.com>
Architecture: amd64
Depends: python3-serial
Description: PX4 firmware updater package. Installs included firmware to PixHawk4.
