menuconfig MODULES_ATTITUDE_ESTIMATOR_Q
	bool "attitude_estimator_q"
	default n
	---help---
		Enable support for attitude_estimator_q

menuconfig USER_ATTITUDE_ESTIMATOR_Q
	bool "attitude_estimator_q running as userspace module"
	default n
	depends on BOARD_PROTECTED && MODULES_ATTITUDE_ESTIMATOR_Q
	---help---
		Put attitude_estimator_q in userspace memory
