#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_PWM
	bool "Pulse width modulation (PWM) example"
	default n
	---help---
		Enable the Pulse width modulation (PWM) example

if EXAMPLES_PWM
endif
