/cmake-build-debug
/cmake-build-release
/cmake-build-debug-cuda
/cmake-build-release-clang
/cmake-build-release-clang-16
/cmake-build-release-clang-16-package
/cmake-build-release-gcc11
/build-coverage
/cmake-build-*
/build_export
/conan_build
/build_car
/install
/test_results
/conan_provider.cmake
/**/*tfevents*
/lightning_logs
/deepsweep_runs
.dependencies
*.dot


/.idea

.vscode/settings.json

/**/*.h5
/**/*.hdf5
/plots
/build


/**/*.swp
/Testing
/tests/docker/context
/**/*.png
/logs
/experiments

/data
/**/__pycache__
/**/.gdb_history
/logs_old
/MUJOCO_LOG.TXT
/**/*.tfevents

/build-wasm
/.vs
/out
/build_conan
/CMakeUserPresets.json

/checkpoints
/checkpoints_old
/**/.DS_Store
/**/*.json
/tmp
/lldb_type_dump.txt
/wandb
/your_project_name
/**/*.out
/**/*.pdf
/**/*.tar.gz
/experiments*
/**/*.nsys-rep
/**/*.sqlite
/**/*.qdstrm
/perf.data
/.venv
/**/.ipynb_checkpoints
/**/*.ipynb
/**/*.pth
/foundation-model-experiments
/1k-experiments
/*.tar