CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD="stm32h747i-disco"
CONFIG_ARCH_BOARD_STM32H747I_DISCO=y
CONFIG_ARCH_CHIP="stm32h7"
CONFIG_ARCH_CHIP_STM32H747XI=y
CONFIG_ARCH_CHIP_STM32H7=y
CONFIG_ARCH_IRQPRIO=y
CONFIG_FS_ROMFS=y
CONFIG_STM32H7_USART1=y
