#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config SYSTEM_RAMTRON
	bool "RAMTRON command"
	default n
	---help---
		Enable support for the NSH RAMTRON command.

if SYSTEM_RAMTRON
endif

