uorb start
param load
param set SYS_AUTOSTART 4001
param set MAV_BROADCAST 1
param set MAV_TYPE 2
param set SYS_MC_EST_GROUP 2
dataman start
df_lsm9ds1_wrapper start -R 4
#df_mpu9250_wrapper start -R 10
#df_hmc5883_wrapper start
df_ms5611_wrapper start
navio_rgbled start
gps start -d /dev/spidev0.0 -i spi -p ubx
sensors start
commander start
navigator start
ekf2 start
land_detector start multicopter
mc_pos_control start
mc_att_control start
mavlink start -u 14556 -r 1000000
mavlink stream -u 14556 -s HIGHRES_IMU -r 50
mavlink stream -u 14556 -s ATTITUDE -r 50
mavlink start -d /dev/ttyUSB0
mavlink stream -d /dev/ttyUSB0 -s HIGHRES_IMU -r 50
mavlink stream -d /dev/ttyUSB0 -s ATTITUDE -r 50
navio_sysfs_rc_in start
navio_sysfs_pwm_out start
logger start -t
mavlink boot_complete
