uorb start
param set SYS_AUTOSTART 4001
param set MAV_BROADCAST 1
sleep 1
param set MAV_TYPE 2
df_lsm9ds1_wrapper start -R 4
#df_mpu9250_wrapper start -R 10
#df_hmc5883_wrapper start
df_ms5611_wrapper start
gps start -d /dev/pts/0
sensors start
commander start
attitude_estimator_q start
position_estimator_inav start
land_detector start multicopter
mc_pos_control start
mc_att_control start
mavlink start -u 14556 -r 1000000
sleep 1
mavlink stream -u 14556 -s HIGHRES_IMU -r 50
mavlink stream -u 14556 -s ATTITUDE -r 50
mavlink start -d /dev/ttyUSB0
mavlink stream -d /dev/ttyUSB0 -s HIGHRES_IMU -r 50
mavlink stream -d /dev/ttyUSB0 -s ATTITUDE -r 50
navio_sysfs_rc_in start
navio_sysfs_pwm_out start
mavlink boot_complete