# HITL configuration
# connect to it with jMAVSim:
# ./Tools/jmavsim_run.sh -q -i <IP> -p 14577 -r 250

uorb start
param load
param set SYS_AUTOSTART 1001
param set MAV_BROADCAST 1
param set MAV_TYPE 2
param set SYS_MC_EST_GROUP 0
dataman start
sensors start -hil
commander start -hil
navigator start
ekf2 start
land_detector start multicopter
mc_pos_control start
mc_att_control start
mavlink start -u 14577 -r 1000000
navio_sysfs_rc_in start
pwm_out_sim mode_pwm16
mixer load /dev/pwm_output0 ROMFS/px4fmu_common/mixers/quad_x.main.mix
logger start -t
mavlink boot_complete

