#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

# navio config for FW

uorb start

if [ -f eeprom/parameters ]
then
	param load
fi
param set MAV_BROADCAST 1
param set SYS_AUTOSTART 2100
param set MAV_TYPE 1
param set BAT_CNT_V_VOLT 0.001
param set BAT_CNT_V_CURR 0.001

dataman start

mpu9250 -R 8 start
lsm9ds1 -s -R 4 start
lsm9ds1_mag -s -R 4 start
ms5611 start

navio_rgbled start

adc start
battery_status start

gps start -d /dev/spidev0.0 -i spi -p ubx
ms4525_airspeed start
rc_update start
sensors start
commander start
navigator start
ekf2 start
land_detector start fixedwing
fw_att_control start
fw_pos_control_l1 start

mavlink start -x -u 14556 -r 1000000

if [ -f /dev/ttyUSB0 ]
then
	mavlink start -x -d /dev/ttyUSB0
fi

navio_sysfs_rc_in start
linux_pwm_out start -m ROMFS/px4fmu_common/mixers/AETRFG.main.mix

logger start -t -b 200

mavlink boot_complete
