#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

# HITL configuration
# connect to it with jMAVSim:
# ./Tools/simulation/jmavsim/jmavsim_run.sh -q -i <IP> -p 14577 -r 250

param select parameters.bson
param import

param set CBRK_SUPPLY_CHK 894281
param set SYS_AUTOSTART 1001
param set MAV_TYPE 2

# Multi-EKF
param set EKF2_MULTI_IMU 2
param set SENS_IMU_MODE 0

dataman start

load_mon start

rc_update start
sensors start -hil
commander start -hil
navigator start
ekf2 start
land_detector start multicopter
mc_hover_thrust_estimator start
flight_mode_manager start
mc_pos_control start
mc_att_control start
mc_rate_control start

mavlink start -x -u 14577 -r 1000000 -p
navio_sysfs_rc_in start
pwm_out_sim start
control_allocator start

logger start -t -b 200

mavlink boot_complete
