#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

uorb start
param load
param set MAV_BROADCAST 1
dataman start

linux_pwm_output start pca9685 -a 64 -b 1
#linux_pwm_output start debug -asdf 0
mixer load /dev/linux_pwm_out_wrapper ROMFS/px4fmu_common/mixers/quad_x.main.mix
mixer append /dev/linux_pwm_out_wrapper ROMFS/px4fmu_common/mixers/quad_x.main.mix

sensors start
commander start
navigator start
ekf2 start
sleep 1

fw_att_control start
fw_pos_control_l1 start
land_detector start fixedwing

mavlink start -x -u 14556 -r 1000000

logger start -t -b 200

mavlink boot_complete
