<?xml version="1.0"?>
<model>
  <name>PX4 Vision</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
   <name>Jaeyoung Lim</name>
   <email>jaeyoung@auterion.com</email>
  </author>

  <description>
    This is a model of the Holybro PX4 Vision
  </description>
</model>
