<?xml version="1.0"?>
<model>
  <name>PX4 Vision</name>
  <version>1.0</version>
  <sdf version='1.9'>px4vision.sdf</sdf>

  <author>
   <name>Theotime Balaguer</name>
   <email>theotime.balaguer@insa-lyon.fr</email>
  </author>

  <description>
    This is a model of the Holybro PX4 Vision
  </description>
</model>
