menu "Distance sensors"
    menuconfig COMMON_DISTANCE_SENSOR
        bool "Common distance sensor's"
        default n
        select DRIVERS_DISTANCE_SENSOR_CM8JL65
        select DRIVERS_DISTANCE_SENSOR_LEDDAR_ONE
        select DRIVERS_DISTANCE_SENSOR_LL40LS
        select DRIVERS_DISTANCE_SENSOR_LL40LS_PWM
        select DRIVERS_DISTANCE_SENSOR_MAPPYDOT
        select DRIVERS_DISTANCE_SENSOR_MB12XX
        select DRIVERS_DISTANCE_SENSOR_PGA460
        select DRIVERS_DISTANCE_SENSOR_LIGHTWARE_LASER_I2C
        select DRIVERS_DISTANCE_SENSOR_LIGHTWARE_LASER_SERIAL
        select DRIVERS_DISTANCE_SENSOR_SRF02
        select DRIVERS_DISTANCE_SENSOR_TERARANGER
        select DRIVERS_DISTANCE_SENSOR_TFMINI
        select DRIVERS_DISTANCE_SENSOR_ULANDING_RADAR
        select DRIVERS_DISTANCE_SENSOR_VL53L0X
        select DRIVERS_DISTANCE_SENSOR_VL53L1X
        select DRIVERS_DISTANCE_SENSOR_GY_US42
        ---help---
            Enable default set of distance sensor drivers

    rsource "*/Kconfig"
endmenu
