menuconfig MODULES_FW_LATERAL_LONGITUDINAL_CONTROL
	bool "fw_lateral_longitudinal_control"
	default y if TARGET_CLASS_PLANE || TARGET_CLASS_VTOL || TARGET_CLASS_LINUX
	default n
	---help---
		Enable support for fw_lat_lon_control
