#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if BUILTIN

config BUILTIN_PROXY_STACKSIZE
	int "Builtin Proxy Stack Size"
	default 1024
	---help---
		If exec_builtin uses I/O redirection options, then it will require
		an intermediary/proxy task to muck with the file descriptors.  This
		configuration item specifies the stack size used for the proxy. Default:
		1024 bytes.

endif
