#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_LCDRW
	bool "LCD read/write example"
	default n
	---help---
		Enable the LCD read/write example

if EXAMPLES_LCDRW
endif
