uorb start
param set SYS_AUTOSTART 4001
sleep 1
param set MAV_TYPE 2
sensors start
commander start
ekf2 start
land_detector start multicopter
mc_pos_control start
mc_att_control start
mavlink start -u 14556 -r 1000000
sleep 1
mavlink stream -u 14556 -s HIGHRES_IMU -r 50
mavlink stream -u 14556 -s ATTITUDE -r 50
mavlink boot_complete
