#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_WGET
	bool "wget example"
	default n
	---help---
		Enable the wget example

if EXAMPLES_WGET
endif
