menuconfig MODULES_SIMULATION_SIMULATOR_SIH
	bool "simulator_sih"
	default n
	select MODULES_SIMULATION_PWM_OUT_SIM
	select MODULES_SIMULATION_SENSOR_BARO_SIM
	select MODULES_SIMULATION_SENSOR_GPS_SIM
	select MODULES_SIMULATION_SENSOR_MAG_SIM
	---help---
		Enable support for simulator_sih

menuconfig USER_SIH
	bool "simulator_sih running as userspace module"
	default y
	depends on BOARD_PROTECTED && MODULES_SIMULATION_SIMULATOR_SIH
	---help---
		Put sih in userspace memory
