menuconfig MODULES_SIMULATION_SIMULATOR_SIH
	bool "simulator_sih"
	default n
	---help---
		Enable support for simulator_sih

menuconfig USER_SIH
	bool "simulator_sih running as userspace module"
	default y
	depends on BOARD_PROTECTED && MODULES_SIMULATION_SIMULATOR_SIH
	---help---
		Put sih in userspace memory
