<?xml version="1.0"?>
<model>
  <name>Holybro x500 (SSRC Fog drone)</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Jari Nippula</name>
   <email>jarix@ssrc.tii.ae</email>
  </author>

  <description>
    This is a model of the SSRC Fog drone. It is initially just a copy
    of Iris model by Lorenz Meier and Thomas Gubler.
  </description>
</model>
