diff -ru orig/kconfig-frontends-3.3.0-1/libs/parser/yconf.c kconfig-frontends-3.3.0-1/libs/parser/yconf.c
--- orig/kconfig-frontends-3.3.0-1/libs/parser/yconf.c	2012-04-13 23:37:32.000000000 -0700
+++ kconfig-frontends-3.3.0-1/libs/parser/yconf.c	2012-04-13 23:38:36.000000000 -0700
@@ -87,6 +87,7 @@
 #include <stdlib.h>
 #include <string.h>
 #include <stdbool.h>
+#include <stddef.h>
 
 #include "lkc.h"
 
diff -ru orig/kconfig-frontends-3.3.0-1/libs/parser/yconf.y kconfig-frontends-3.3.0-1/libs/parser/yconf.y
--- orig/kconfig-frontends-3.3.0-1/libs/parser/yconf.y	2012-03-20 15:07:45.000000000 -0700
+++ kconfig-frontends-3.3.0-1/libs/parser/yconf.y	2012-04-13 23:38:22.000000000 -0700
@@ -10,6 +10,7 @@
 #include <stdlib.h>
 #include <string.h>
 #include <stdbool.h>
+#include <stddef.h>
 
 #include "lkc.h"
 
