#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#
# Hack to ensure ARCH_MATH_H is kept
config BOARD_HAVE_MATH_H
	bool "Provide ARCH math.h (selects ARCH_HAVE_MATH_H)"
	default y
	select ARCH_HAVE_MATH_H
