<?xml version="1.0"?>
<model>
  <name>3DR Iris using Control Allocation</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_ctrlalloc.sdf</sdf>

  <author>
   <name>Jacob Crabill</name>
   <email>jacob@flyvoly.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor using the new Control Allocation actuator-output method.
  </description>
</model>
