#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_MM
	bool "Memory management example"
	default n
	---help---
		Enable the memory management example

if EXAMPLES_MM
endif
