uorb start
gps start -d /dev/tty-4
sleep 1
df_mpu9250_wrapper start
df_bmp280_wrapper start
df_hmc5883_wrapper start
sensors start
commander start
attitude_estimator_q start
position_estimator_inav start
mc_pos_control start
mc_att_control start

uart_esc start -d /dev/tty-2
sleep 1
list_devices
list_files
list_tasks
list_topics
