uorb start
qshell start
param set SYS_AUTOSTART 4001
sleep 1
gps start -d /dev/tty-4
param set MAV_TYPE 2
df_hmc5883_wrapper start
df_mpu9250_wrapper start
df_bmp280_wrapper start
df_trone_wrapper start
#df_isl29501_wrapper start
sensors start
commander start
ekf2 start
land_detector start multicopter
mc_pos_control start
mc_att_control start
pwm_out_rc_in start -d /dev/tty-2
