uorb start
qshell start
param set SYS_AUTOSTART 4001
gps start -d /dev/tty-4
sleep 1
param set MAV_TYPE 2
df_mpu9250_wrapper start
df_bmp280_wrapper start
df_hmc5883_wrapper start
df_trone_wrapper start
sensors start
commander start
ekf2 start
land_detector start multicopter
mc_pos_control start
mc_att_control start
uart_esc start -d /dev/tty-2
sleep 1
list_devices
list_files
list_tasks
list_topics
