#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_NSH
	bool "NuttShell (NSH) example"
	default n
	---help---
		Enable the NuttShell (NSH) example

if EXAMPLES_NSH
endif
