<?xml version="1.0"?>
<model>
  <name>BlueROV2Heavy</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>tim hansen</name>
    <email>thansen@constructor.university</email>
  </author>

  <description>
    Model of the BlueROV2 in heavy configuration with 8 thrusters.
  </description>

</model>
