#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#
config BATTERY
	bool "Battery support"
	default n
	
config MAX1704X
	bool "MAX1704X Battery charger support"
	default n
	select I2C
	select I2C_MAX1704X
	depends on BATTERY
	---help---
		The MAX17040/MAX17041 are ultra-compact, low-cost, host-side fuel-gauge
		systems for lithium-ion (Li+) batteries in handheld and portable equipment.
		The MAX17040 is configured to operate with a single lithium cell and the
		MAX17041 is configured for a dual-cell 2S pack.

config I2C_MAX1704X
	bool
	default y if MAX1704X
