#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

choice
	prompt "LPC43XX Chip Selection"
	default ARCH_CHIP_LPC4330FET100
	depends on ARCH_CHIP_LPC43XX

config ARCH_CHIP_LPC4310FBD144
	bool "LPC4310FBD144

config ARCH_CHIP_LPC4310FET100
	bool "LPC4310FET100

config ARCH_CHIP_LPC4320FBD144
	bool "LPC4320FBD144

config ARCH_CHIP_LPC4320FET100
	bool "LPC4320FET100

config ARCH_CHIP_LPC4330FBD144
	bool "LPC4330FBD144

config ARCH_CHIP_LPC4330FET100
	bool "LPC4330FET100

config ARCH_CHIP_LPC4330FET180
	bool "LPC4330FET180

config ARCH_CHIP_LPC4330FET256
	bool "LPC4330FET256

config ARCH_CHIP_LPC4350FBD208
	bool "LPC4350FBD208

config ARCH_CHIP_LPC4350FET180
	bool "LPC4350FET180

config ARCH_CHIP_LPC4350FET256
	bool "LPC4350FET256

config ARCH_CHIP_LPC4353FBD208
	bool "LPC4353FBD208

config ARCH_CHIP_LPC4353FET180
	bool "LPC4353FET180

config ARCH_CHIP_LPC4353FET256
	bool "LPC4353FET256

config ARCH_CHIP_LPC4357FET180
	bool "LPC4357FET180

config ARCH_CHIP_LPC4357FBD208
	bool "LPC4357FBD208

config ARCH_CHIP_LPC4357FET256
	bool "LPC4357FET256

endchoice

config ARCH_FAMILY_LPC4310
	bool
	default y if ARCH_CHIP_LPC4310FBD144 || ARCH_CHIP_LPC4310FET100

config ARCH_FAMILY_LPC4320
	bool
	default y if ARCH_CHIP_LPC4320FBD144 || ARCH_CHIP_LPC4320FET100

config ARCH_FAMILY_LPC4330
	bool
	default y if ARCH_CHIP_LPC4330FBD144 || ARCH_CHIP_LPC4330FET100 || ARCH_CHIP_LPC4330FET180 || ARCH_CHIP_LPC4330FET256

config ARCH_FAMILY_LPC4350
	bool
	default y if ARCH_CHIP_LPC4350FBD208 || ARCH_CHIP_LPC4350FET180 || ARCH_CHIP_LPC4350FET256

config ARCH_FAMILY_LPC4353
	bool
	default y if ARCH_CHIP_LPC4353FBD208 || ARCH_CHIP_LPC4353FET180 || ARCH_CHIP_LPC4353FET256

config ARCH_FAMILY_LPC4357
	bool
	default y if ARCH_CHIP_LPC4357FET180 || ARCH_CHIP_LPC4357FBD208 || ARCH_CHIP_LPC4357FET256

config ARCH_CORTEXM3
	bool
	default n if !ARCH_CHIP_LPC43XX

config ARCH_CORTEXM4
	bool
	default y if ARCH_CHIP_LPC43XX

