#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#
config HAVE_CXX
	bool "have cxx"
	default n
	---help---
		toolchain supports C++ and CXX, CXXFLAGS, and
		COMPILEXX have been defined in the configurations Make.defs
		file.

config HAVE_CXXINITIALIZE
	bool "have cxx initialize"
	default n
	---help---
		The platform-specific logic includes support
		for initialization of static C++ instances for this architecture
		and for the selected toolchain (via up_cxxinitialize()).
