#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config ADC
	bool "Analog-to-Digital Conversion"
	default n
	---help---
		Select to enable support for analog input device support.  This includes
		not only Analog-to-Digital Converters (ADC) but also amplifiers and
		analog multiplexers.

config ADC_ADS125X
	bool "TI ADS1255/ADS1256 support"
	default n
	depends on ADC
	select SPI

config ADS1255_FREQUENCY
	int "ADS1255/ADS1256 SPI frequency"
	default 1000000
	depends on ADC_ADS125X

config ADC_PGA11X
	bool "TI PGA112/3/6/7 support"
	default n
	depends on ADC
	select SPI
	---help---
		Enables support for the  PGA112, PGA113, PGA116, PGA117 Zerø-Drift
		PROGRAMMABLE GAIN AMPLIFIER with MUX

config PGA11X_SPIFREQUENCY
	int "TI PGA112/3/6/7 SPI frequency"
	default 1000000
	depends on ADC_PGA11X
	---help---
		PGA11x SPI frequency.

config PGA11X_SPIMODE
	int "TI PGA112/3/6/7 SPI mode"
	default 0
	depends on ADC_PGA11X
	---help---
		PGA11x SPI mode.  The specification says that the device operates in Mode 0 or
		Mode 3.  But sometimes you need to tinker with this to get things to work
		correctly. Default:  Mode 0

config PGA11X_DAISYCHAIN
	bool "TI PGA112/3/6/7 daisy chain mode"
	default n
	depends on ADC_PGA11X
	---help---
		Enable support to use two PGA116/7's in Daisy Chain configuration.

config PGA11X_MULTIPLE
	bool "Multiple TI PGA112/3/6/7 support"
	default n
	depends on ADC_PGA11X && !PGA11X_DAISYCHAIN
	---help---
		Can be defined to support multiple PGA11X devices on board with separate
		chip selects (not daisy chained).  Each device will require a customized
		SPI interface to distinguish them when SPI_SELECT is called with
		devid=SPIDEV_MUX.

config DAC
	bool "Digital-to-Analog Conversion"
	default n	
	---help---
		Select to enable support for Digital-to-Analog Converters (DACs).

config DAC_AD5410
	bool "AD5410 support"
	default n
	depends on DAC
	select SPI
