#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

choice
	prompt "STM32 Chip Selection"
	default ARCH_CHIP_STM32F103ZET6
	depends on ARCH_CHIP_STM32

config ARCH_CHIP_STM32F103ZET6
	bool "STM32F103ZET6"

config ARCH_CHIP_STM32F103RET6
	bool "STM32F103RET6"

config ARCH_CHIP_STM32F103VCT6
	bool "STM32F103VCT6"

config ARCH_CHIP_STM32F105VBT7
	bool "STM32F105VBT7"

config ARCH_CHIP_STM32F107VC
	bool "STM32F107VC"

config ARCH_CHIP_STM32F207IG
	bool "STM32F207IG"

config ARCH_CHIP_STM32F405RG
	bool "STM32F405RG"

config ARCH_CHIP_STM32F405VG
	bool "STM32F405VG"

config ARCH_CHIP_STM32F405ZG
	bool "STM32F405ZG"

config ARCH_CHIP_STM32F407VE
	bool "STM32F407VE"

config ARCH_CHIP_STM32F407VG
	bool "STM32F407VG"

config ARCH_CHIP_STM32F407ZE
	bool "STM32F407ZE"

config ARCH_CHIP_STM32F407ZG
	bool "STM32F407ZG"

config ARCH_CHIP_STM32F407IE
	bool "STM32F407IE"

config ARCH_CHIP_STM32F407IE
	bool "STM32F407IE"

endchoice

config STM32_STM32F10XX
	bool
	default y if ARCH_CHIP_STM32F103ZET6 || ARCH_CHIP_STM32F103RET6 || ARCH_CHIP_STM32F103VCT6 || ARCH_CHIP_STM32F105VBT7 || ARCH_CHIP_STM32F107VC

config STM32_CONNECTIVITYLINE
	bool
	default y if ARCH_CHIP_STM32F105VBT7 || ARCH_CHIP_STM32F107VC

config STM32_STM32F20XX
	bool
	default y if ARCH_CHIP_STM32F207IG

config STM32_STM32F40XX
	bool
	default y if ARCH_CHIP_STM32F405RG || ARCH_CHIP_STM32F405VG || ARCH_CHIP_STM32F405ZG || ARCH_CHIP_STM32F407VE || ARCH_CHIP_STM32F407VG || ARCH_CHIP_STM32F407ZE || ARCH_CHIP_STM32F407ZG || ARCH_CHIP_STM32F407IE || ARCH_CHIP_STM32F407IE
