#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config NETUTILS_WEBSERVER
	bool "uIP web server"
	default n
	---help---
		Enable support for the uIP web server.

if NETUTILS_WEBSERVER
endif
