qshell start

param set CBRK_SUPPLY_CHK 894281
param set SYS_AUTOSTART 4001
param set SYS_AUTOCONFIG 1
param set MAV_TYPE 2
param set MC_YAW_P 1.5
param set MC_PITCH_P 3.0
param set MC_ROLL_P 3.0
param set MC_YAWRATE_P 0.2
param set MC_PITCHRATE_P 0.03
param set MC_ROLLRATE_P 0.03

sleep 1
rc_update start
commander start -hil
sensors start
ekf2 start
mc_hover_thrust_estimator start
flight_mode_manager start
mc_pos_control start
mc_att_control start
mc_rate_control start
land_detector start multicopter
sleep 1
pwm_out_sim start
mixer load /dev/pwm_output0 /startup/quad_x.main.mix
list_files
list_tasks
sleep 10
list_tasks
sleep 10
