<?xml version="1.0"?>
<model>
  <name>rascal_110</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
   <name>Benjamin Perseghetti</name>
   <email>bperseghetti@rudislabs.com</email>
  </author>

  <description>
    This is a model of a Rascal 110.
  </description>
</model>
