ver all
uorb start

param select /home/root/rootfs/eeprom/parameters
param load
param set SYS_AUTOSTART 4001
param set MAV_BROADCAST 1
sleep 1
param set MAV_TYPE 2
param set MAV_SYS_ID 1
param set BAT_CNT_V_VOLT 18.857142857
param set BAT_V_DIV 0.000244141

df_mpu9250_wrapper start_without_mag -R 10
df_hmc5883_wrapper start
df_ms5611_wrapper start
rgbled start -b /dev/i2c-1
gps start -d /dev/ttyS5 -s
sensors start
commander start
navigator start
dataman start
ekf2 start
land_detector start multicopter
mc_pos_control start
mc_att_control start
sleep 1

mavlink start -d /dev/ttyPS1
mavlink stream -d /dev/ttyPS1 -s HIGHRES_IMU -r 50
mavlink stream -d /dev/ttyPS1 -s ATTITUDE -r 50

ocpoc_sbus_rc_in start
ocpoc_mmap_pwm_out start
sdlog2 start
logger start
mavlink boot_complete
