#!/bin/sh
# PX4 commands need the 'px4-' prefix in bash.
# (px4-alias.sh is expected to be in the PATH)
. px4-alias.sh

uorb start

param select /root/rootfs/eeprom/parameters
if [ -f /root/rootfs/eeprom/parameters ]
then
	param load
fi
param set SYS_AUTOSTART 4001
param set MAV_BROADCAST 1
param set MAV_TYPE 2
param set MAV_SYS_ID 1

mpu9250 -s -R 10 start
hmc5883 -I start
ms5611 -s start

rgbled start -b 1

adc start
battery_status start

gps start -d /dev/ttyS3 -s
rc_update start
sensors start
commander start
navigator start
dataman start
ekf2 start
land_detector start multicopter
mc_hover_thrust_estimator start
mc_pos_control start
mc_att_control start
mc_rate_control start

mavlink start -x -d /dev/ttyPS1
mavlink stream -d /dev/ttyPS1 -s HIGHRES_IMU -r 50
mavlink stream -d /dev/ttyPS1 -s ATTITUDE -r 50

rc_input start -d /dev/ttyS2

linux_pwm_out start -p ocpoc_mmap -m ROMFS/px4fmu_common/mixers/ocpoc_quad_x.main.mix
logger start -t -b 200
mavlink boot_complete
