#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_MOUNT
	bool "File system mount example"
	default n
	---help---
		Enable the file system mount example

if EXAMPLES_MOUNT
endif
