#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_NXLINES
	bool "NX graphics lines example"
	default n
	---help---
		Enable the X graphics lines example

if EXAMPLES_NXLINES
endif
