<?xml version="1.0"?>

<launch>

    <!-- MAVROS posix SITL environment launch script -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>


    <arg name="est" default="ekf2"/>
    <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/empty.world"/>
    
    <arg name="vehicle" default="iris"/>

    <arg name="headless" default="false"/>
    <arg name="gui" default="true"/>

    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>

    <arg name="pluginlists_yaml" default="$(find mavros)/launch/px4_pluginlists.yaml" />
    <arg name="config_yaml" default="$(find mavros)/launch/px4_config.yaml" />
    
     <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="headless" value="$(arg headless)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="verbose" value="$(arg verbose)" />
        <arg name="paused" value="$(arg paused)" />
    </include>

        
    <group ns="iris1">
        
        <arg name="model" default = "$(arg vehicle)1"/>
        <arg name="ns" default="/$(arg model)"/>
        
        <arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg model)/$(arg vehicle).sdf"/>
        <arg name="rcS" default="$(find px4)/posix-configs/SITL/init/$(arg est)/$(arg model)"/>
        
        <arg name="fcu_url" default="udp://:11740@localhost:11757"/>
        <arg name="gcs_url" default="udp://:11770@localhost:11775" />
        
        <arg name="tgt_system" default="1" />
        <arg name="tgt_component" default="1" />
        
        <node name="sitl1" pkg="px4" type="px4" output="screen"
            args="$(find px4) $(arg rcS)">
        </node>
        
        <node name="$(anon vehicle_spawn1)" output="screen" pkg="gazebo_ros" type="spawn_model"
            args="-sdf -file $(arg sdf) -model $(arg model) -x $(arg x) -y -3 -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>
        
        <include file="$(find px4)/launch/mavros.launch">
            <arg name="ns" value="$(arg ns)"/>
            <arg name="gcs_url" value="$(arg gcs_url)"/> <!-- GCS link is provided by SITL -->
            <arg name="tgt_component" value="$(arg tgt_component)" />
            <arg name="tgt_system" value="$(arg tgt_system)" />
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="pluginlists_yaml" value="$(arg pluginlists_yaml)" />
            <arg name="config_yaml" value="$(arg config_yaml)" />
        </include>
    </group>
    
    <group ns="iris2">
        
        <arg name="model" default = "$(arg vehicle)2"/>
        <arg name="ns" default="/$(arg model)"/>
        
        <arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg model)/$(arg vehicle).sdf"/>
        <arg name="rcS" default="$(find px4)/posix-configs/SITL/init/$(arg est)/$(arg model)"/>
        
        <arg name="fcu_url" default="udp://:12740@localhost:12757"/>
        <arg name="gcs_url" default="udp://:12770@localhost:12775" />
        
        <arg name="tgt_system" default="1" />
        <arg name="tgt_component" default="1" />
        
        <node name="sitl2" pkg="px4" type="px4" output="screen"
            args="$(find px4) $(arg rcS)">
        </node>
        
        <node name="$(anon vehicle_spawn2)" output="screen" pkg="gazebo_ros" type="spawn_model"
            args="-sdf -file $(arg sdf) -model $(arg model) -x $(arg x) -y -2 -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>

        <include file="$(find px4)/launch/mavros.launch">
            <arg name="ns" value="$(arg ns)"/>
            <arg name="gcs_url" value="$(arg gcs_url)"/> <!-- GCS link is provided by SITL -->
            <arg name="tgt_component" value="$(arg tgt_component)" />
            <arg name="tgt_system" value="$(arg tgt_system)" />
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="pluginlists_yaml" value="$(arg pluginlists_yaml)" />
            <arg name="config_yaml" value="$(arg config_yaml)" />
        </include>
    </group>
    
    <group ns="iris3">
        
        <arg name="model" default = "$(arg vehicle)3"/>
        <arg name="ns" default="/$(arg model)"/>
        
        <arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg model)/$(arg vehicle).sdf"/>
        <arg name="rcS" default="$(find px4)/posix-configs/SITL/init/$(arg est)/$(arg model)"/>
        
        <arg name="fcu_url" default="udp://:13740@localhost:13757"/>
        <arg name="gcs_url" default="udp://:13770@localhost:13775" />
        
        <arg name="tgt_system" default="1" />
        <arg name="tgt_component" default="1" />
        
        <node name="sitl3" pkg="px4" type="px4" output="screen"
            args="$(find px4) $(arg rcS)">
        </node>
        
        <node name="$(anon vehicle_spawn3)" output="screen" pkg="gazebo_ros" type="spawn_model"
            args="-sdf -file $(arg sdf) -model $(arg model) -x $(arg x) -y -1 -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>

        <include file="$(find px4)/launch/mavros.launch">
            <arg name="ns" value="$(arg ns)"/>
            <arg name="gcs_url" value="$(arg gcs_url)"/> <!-- GCS link is provided by SITL -->
            <arg name="tgt_component" value="$(arg tgt_component)" />
            <arg name="tgt_system" value="$(arg tgt_system)" />
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="pluginlists_yaml" value="$(arg pluginlists_yaml)" />
            <arg name="config_yaml" value="$(arg config_yaml)" />
        </include>
    </group>
    
    <group ns="iris4">
        
        <arg name="model" default = "$(arg vehicle)4"/>
        <arg name="ns" default="/$(arg model)"/>
        
        <arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg model)/$(arg vehicle).sdf"/>
        <arg name="rcS" default="$(find px4)/posix-configs/SITL/init/$(arg est)/$(arg model)"/>
        
        <arg name="fcu_url" default="udp://:14740@localhost:14757"/>
        <arg name="gcs_url" default="udp://:14770@localhost:14775" />
        
        <arg name="tgt_system" default="1" />
        <arg name="tgt_component" default="1" />
        
        <node name="sitl4" pkg="px4" type="px4" output="screen"
            args="$(find px4) $(arg rcS)">
        </node>
        
        <node name="$(anon vehicle_spawn4)" output="screen" pkg="gazebo_ros" type="spawn_model"
            args="-sdf -file $(arg sdf) -model $(arg model) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>

        <include file="$(find px4)/launch/mavros.launch">
            <arg name="ns" value="$(arg ns)"/>
            <arg name="gcs_url" value="$(arg gcs_url)"/> <!-- GCS link is provided by SITL -->
            <arg name="tgt_component" value="$(arg tgt_component)" />
            <arg name="tgt_system" value="$(arg tgt_system)" />
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="pluginlists_yaml" value="$(arg pluginlists_yaml)" />
            <arg name="config_yaml" value="$(arg config_yaml)" />
        </include>
    </group>
    
    <group ns="iris5">
        
        <arg name="model" default = "$(arg vehicle)5"/>
        <arg name="ns" default="/$(arg model)"/>
        
        <arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg model)/$(arg vehicle).sdf"/>
        <arg name="rcS" default="$(find px4)/posix-configs/SITL/init/$(arg est)/$(arg model)"/>
        
        <arg name="fcu_url" default="udp://:15740@localhost:15757"/>
        <arg name="gcs_url" default="udp://:15770@localhost:15775" />
        
        <arg name="tgt_system" default="1" />
        <arg name="tgt_component" default="1" />
        
        <node name="sitl5" pkg="px4" type="px4" output="screen"
            args="$(find px4) $(arg rcS)">
        </node>
        
        <node name="$(anon vehicle_spawn5)" output="screen" pkg="gazebo_ros" type="spawn_model"
            args="-sdf -file $(arg sdf) -model $(arg model) -x $(arg x) -y 1 -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>

        <include file="$(find px4)/launch/mavros.launch">
            <arg name="ns" value="$(arg ns)"/>
            <arg name="gcs_url" value="$(arg gcs_url)"/> <!-- GCS link is provided by SITL -->
            <arg name="tgt_component" value="$(arg tgt_component)" />
            <arg name="tgt_system" value="$(arg tgt_system)" />
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="pluginlists_yaml" value="$(arg pluginlists_yaml)" />
            <arg name="config_yaml" value="$(arg config_yaml)" />
        </include>
    </group>
    
    <group ns="iris6">
        
        <arg name="model" default = "$(arg vehicle)6"/>
        <arg name="ns" default="/$(arg model)"/>
        
        <arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg model)/$(arg vehicle).sdf"/>
        <arg name="rcS" default="$(find px4)/posix-configs/SITL/init/$(arg est)/$(arg model)"/>
        
        <arg name="fcu_url" default="udp://:16740@localhost:16757"/>
        <arg name="gcs_url" default="udp://:16770@localhost:16775" />
        
        <arg name="tgt_system" default="1" />
        <arg name="tgt_component" default="1" />
        
        <node name="sitl6" pkg="px4" type="px4" output="screen"
            args="$(find px4) $(arg rcS)">
        </node>
        
        <node name="$(anon vehicle_spawn6)" output="screen" pkg="gazebo_ros" type="spawn_model"
            args="-sdf -file $(arg sdf) -model $(arg model) -x $(arg x) -y 2 -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>

        <include file="$(find px4)/launch/mavros.launch">
            <arg name="ns" value="$(arg ns)"/>
            <arg name="gcs_url" value="$(arg gcs_url)"/> <!-- GCS link is provided by SITL -->
            <arg name="tgt_component" value="$(arg tgt_component)" />
            <arg name="tgt_system" value="$(arg tgt_system)" />
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="pluginlists_yaml" value="$(arg pluginlists_yaml)" />
            <arg name="config_yaml" value="$(arg config_yaml)" />
        </include>
    </group>
    
</launch>

<!-- vim: set et ft=xml fenc=utf-8 ff=unix sts=0 sw=4 ts=4 : -->
