menuconfig MODULES_MC_AUTOTUNE_ATTITUDE_CONTROL
	bool "mc_autotune_attitude_control"
	default y if TARGET_CLASS_COPTER || TARGET_CLASS_VTOL || TARGET_CLASS_LINUX
	default n
	---help---
		Enable support for mc_autotune_attitude_control
