{#- This uses jinja templates, syntax: http://jinja.pocoo.org/docs/2.9/templates/ -#}
# Sensor thermal compensation parameters
#
# Vehicle-Id Component-Id Name Value Type
{% for sensor in params.keys() | sort -%}
	{% for param in params[sensor]['params'].keys() | sort -%}
		{% set label = params[sensor]['label'] %}
		{% set pdict = params[sensor]['params'] %}
		{% if pdict[param].type == 'INT ' -%}
			{% set type=6 -%}
		{% elif pdict[param].type == 'FLOAT ' -%}
			{% set type=9 -%}
		{% endif -%}
1	1	{{ param }}	{{ pdict[param].val }}	{{ type }}
	{% endfor -%}
{% endfor -%}
{#- vim: set noet ft=jinja fenc=utf-8 ff=unix sts=0 sw=4 ts=4 : -#}
