#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

menu "Built-In Applications"
source "$APPSDIR/builtin/Kconfig"
endmenu

menu "Examples"
source "$APPSDIR/examples/Kconfig"
endmenu

menu "Interpreters"
source "$APPSDIR/interpreters/Kconfig"
endmenu

menu "Network Utilities"
source "$APPSDIR/netutils/Kconfig"
endmenu

menu "ModBus"
source "$APPSDIR/modbus/Kconfig"
endmenu

menu "NSH Library"
source "$APPSDIR/nshlib/Kconfig"
endmenu

menu "NxWidgets/NxWM"
source "$APPSDIR/NxWidgets/Kconfig"
endmenu

menu "System NSH Add-Ons"
source "$APPSDIR/system/Kconfig"
endmenu
