#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config EXAMPLES_DHCPD
	bool "DHCP server example"
	default n
	---help---
		Enable the DHCP server example

if EXAMPLES_DHCPD
endif

