#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config FS_RAMMAP
	bool "File mapping emulation"
	default n
	---help---
		NuttX operates in a flat open address space and is focused on MCUs that do
		support Memory Management Units (MMUs).  Therefore, NuttX generally does not
		require mmap() functionality and the MCUs generally cannot support true
		memory-mapped files.

		However, memory mapping of files is the mechanism used by NXFLAT, the NuttX
		tiny binary format, to get files into memory in order to execute them.
		mmap() support is therefore required to support NXFLAT.

		If FS_RAMMAP is defined in the configuration, then mmap() will
		support simulation of memory mapped files by copying files whole
		into RAM.  These copied files have some of the properties of
		standard memory mapped files.

		See nuttx/fs/mmap/README.txt for additonal information.

if FS_RAMMAP
endif
