#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#
menuconfig DRIVERS_CAN_OPEN
	bool "CANOPEN"
	default n
	---help---
		Enable support for CANOpen
