menu "GPIO"
    menuconfig COMMON_GPIO
        bool "Common GPIOs"
        default n
        select DRIVERS_GPIO_MCP23009
        ---help---
            Enable default set of GPIO drivers
    rsource "*/Kconfig"
endmenu
