menuconfig SYSTEMCMDS_GPIO
	bool "gpio"
	default n
	---help---
		Enable support for gpio

menuconfig USER_GPIO
	bool "gpio running as userspace module"
	default y
	depends on BOARD_PROTECTED && SYSTEMCMDS_GPIO
	---help---
		Put gpio in userspace memory
