menuconfig MODULES_EKF2
	bool "ekf2"
	default n
	---help---
		Enable support for ekf2

menuconfig EKF2_MULTI_INSTANCE
depends on MODULES_EKF2
        bool "multi-EKF support"
        default y
	depends on !BOARD_CONSTRAINED_MEMORY
	depends on !BOARD_CONSTRAINED_FLASH
	---help---
		EKF2 support multiple instances and selector.

menuconfig EKF2_DRAG_FUSION
depends on MODULES_EKF2
        bool "drag fusion support"
        default y
	---help---
		EKF2 drag fusion support.

menuconfig USER_EKF2
	bool "ekf2 running as userspace module"
	default n
	depends on BOARD_PROTECTED && MODULES_EKF2
	---help---
		Put ekf2 in userspace memory
