#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

config NETUTILS_JSON
	bool "cJSON library"
	default n
	---help---
		Enables the cJSON library.  cJSON is an ultra-lightweight, portable,
		single-file, simple-as-can-be ANSI-C compliant JSON parser, under MIT
		license. Embeddable Lightweight XML-RPC Server discussed at
		http://www.drdobbs.com/web-development/an-embeddable-lightweight-xml-rpc-server/184405364.
		This code was taken from http://sourceforge.net/projects/cjson/ and
		adapted for NuttX by Darcy Gong.

if NETUTILS_JSON
endif
