menuconfig SYSTEMCMDS_HARDFAULT_LOG
	bool "hardfault_log"
	default n
	---help---
		Enable support for hardfault_log

menuconfig USER_HARDFAULT_LOG
	bool "hardfault_log running as userspace module"
	default n
	depends on BOARD_PROTECTED && SYSTEMCMDS_HARDFAULT_LOG
	---help---
		Put hardfault_log in userspace memory
