menuconfig MODULES_SIMULATION_SIMULATOR_MAVLINK
	bool "simulator_mavlink"
	default n
	select MODULES_SIMULATION_PWM_OUT_SIM
	depends on PLATFORM_POSIX
	---help---
		Enable support for mavlink simulator
