#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if ARCH_MIPS
choice
	prompt "MIPS chip selection"
	default ARCH_CHIP_PIC32MX460F512L

config ARCH_CHIP_PIC32MX320F032H
	bool "PIC32MX320F032H"
	---help---
		Microchip PIC32MX320F032H (MIPS32)

config ARCH_CHIP_PIC32MX320F064H
	bool "PIC32MX320F064H"
	---help---
		Microchip PIC32MX320F064H (MIPS32)

config ARCH_CHIP_PIC32MX320F128H
	bool "PIC32MX320F128H"
	---help---
		Microchip PIC32MX320F128H (MIPS32)

config ARCH_CHIP_PIC32MX320F128L
	bool "PIC32MX320F128L"
	---help---
		Microchip PIC32MX320F128L (MIPS32)

config ARCH_CHIP_PIC32MX340F128H
	bool "PIC32MX340F128H"
	---help---
		Microchip PIC32MX340F128H (MIPS32)

config ARCH_CHIP_PIC32MX340F256H
	bool "PIC32MX340F256H"
	---help---
		Microchip PIC32MX340F256H (MIPS32)

config ARCH_CHIP_PIC32MX340F512H
	bool "PIC32MX340F512H"
	---help---
		Microchip PIC32MX340F512H (MIPS32)

config ARCH_CHIP_PIC32MX340F128L
	bool "PIC32MX340F128L"
	---help---
		Microchip PIC32MX340F128L (MIPS32)

config ARCH_CHIP_PIC32MX360F256L
	bool "PIC32MX360F256L"
	---help---
		Microchip PIC32MX360F256L (MIPS32)

config ARCH_CHIP_PIC32MX360F512L
	bool "PIC32MX360F512L"
	---help---
		Microchip PIC32MX360F512L (MIPS32)

config ARCH_CHIP_PIC32MX420F032H
	bool "PIC32MX420F032H"
	---help---
		Microchip PIC32MX420F032H (MIPS32)

config ARCH_CHIP_PIC32MX440F128H
	bool "PIC32MX440F128H"
	---help---
		Microchip PIC32MX440F128H (MIPS32)

config ARCH_CHIP_PIC32MX440F128L
	bool "PIC32MX440F128L"
	---help---
		Microchip PIC32MX440F128L (MIPS32)

config ARCH_CHIP_PIC32MX440F256H
	bool "PIC32MX440F256H"
	---help---
		Microchip PIC32MX440F256H (MIPS32)

config ARCH_CHIP_PIC32MX440F512H
	bool "PIC32MX440F512H"
	---help---
		Microchip PIC32MX440F512H (MIPS32)

config ARCH_CHIP_PIC32MX460F256L
	bool "PIC32MX460F256L"
	---help---
		Microchip PIC32MX460F256L (MIPS32)

config ARCH_CHIP_PIC32MX460F512L
	bool "PIC32MX460F512L"
	---help---
		Microchip PIC32MX460F512L (MIPS32)

config ARCH_CHIP_PIC32MX534F064H
	bool "PIC32MX534F064H"
	---help---
		Microchip PIC32MX534F064H (MIPS32)

config ARCH_CHIP_PIC32MX534F064L
	bool "PIC32MX534F064L"
	---help---
		Microchip PIC32MX534F064L (MIPS32)

config ARCH_CHIP_PIC32MX564F064H
	bool "PIC32MX564F064H"
	---help---
		Microchip PIC32MX564F064H (MIPS32)

config ARCH_CHIP_PIC32MX564F064L
	bool "PIC32MX564F064L"
	---help---
		Microchip PIC32MX564F064L (MIPS32)

config ARCH_CHIP_PIC32MX564F128H
	bool "PIC32MX564F128H"
	---help---
		Microchip PIC32MX564F128H (MIPS32)

config ARCH_CHIP_PIC32MX564F128L
	bool "PIC32MX564F128L"
	---help---
		Microchip PIC32MX564F128L (MIPS32)

config ARCH_CHIP_PIC32MX575F256H
	bool "PIC32MX575F256H"
	---help---
		Microchip PIC32MX575F256H (MIPS32)

config ARCH_CHIP_PIC32MX575F256L
	bool "PIC32MX575F256L"
	---help---
		Microchip PIC32MX575F256L (MIPS32)

config ARCH_CHIP_PIC32MX575F512H
	bool "PIC32MX575F512H"
	---help---
		Microchip PIC32MX575F512H (MIPS32)

config ARCH_CHIP_PIC32MX575F512L
	bool "PIC32MX575F512L"
	---help---
		Microchip PIC32MX575F512L (MIPS32)

config ARCH_CHIP_PIC32MX664F064H
	bool "PIC32MX664F064H"
	---help---
		Microchip PIC32MX664F064H (MIPS32)

config ARCH_CHIP_PIC32MX664F064L
	bool "PIC32MX664F064L"
	---help---
		Microchip PIC32MX664F064L (MIPS32)

config ARCH_CHIP_PIC32MX664F128H
	bool "PIC32MX664F128H"
	---help---
		Microchip PIC32MX664F128H (MIPS32)

config ARCH_CHIP_PIC32MX664F128L
	bool "PIC32MX664F128L"
	---help---
		Microchip PIC32MX664F128L (MIPS32)

config ARCH_CHIP_PIC32MX675F256H
	bool "PIC32MX675F256H"
	---help---
		Microchip PIC32MX675F256H (MIPS32)

config ARCH_CHIP_PIC32MX675F256L
	bool "PIC32MX675F256L"
	---help---
		Microchip PIC32MX675F256L (MIPS32)

config ARCH_CHIP_PIC32MX675F512H
	bool "PIC32MX675F512H"
	---help---
		Microchip PIC32MX675F512H (MIPS32)

config ARCH_CHIP_PIC32MX675F512L
	bool "PIC32MX675F512L"
	---help---
		Microchip PIC32MX675F512L (MIPS32)

config ARCH_CHIP_PIC32MX695F512H
	bool "PIC32MX695F512H"
	---help---
		Microchip PIC32MX695F512H (MIPS32)

config ARCH_CHIP_PIC32MX695F512L
	bool "PIC32MX695F512L"
	---help---
		Microchip PIC32MX695F512L (MIPS32)

config ARCH_CHIP_PIC32MX764F128H
	bool "PIC32MX764F128H"
	---help---
		Microchip PIC32MX764F128H (MIPS32)

config ARCH_CHIP_PIC32MX764F128L
	bool "PIC32MX764F128L"
	---help---
		Microchip PIC32MX764F128L (MIPS32)

config ARCH_CHIP_PIC32MX775F256H
	bool "PIC32MX775F256H"
	---help---
		Microchip PIC32MX775F256H (MIPS32)

config ARCH_CHIP_PIC32MX775F256L
	bool "PIC32MX775F256L"
	---help---
		Microchip PIC32MX775F256L (MIPS32)

config ARCH_CHIP_PIC32MX775F512H
	bool "PIC32MX775F512H"
	---help---
		Microchip PIC32MX775F512H (MIPS32)

config ARCH_CHIP_PIC32MX775F512L
	bool "PIC32MX775F512L"
	---help---
		Microchip PIC32MX775F512L (MIPS32)

config ARCH_CHIP_PIC32MX795F512H
	bool "PIC32MX795F512H"
	---help---
		Microchip PIC32MX795F512H (MIPS32)

config ARCH_CHIP_PIC32MX795F512L
	bool "PIC32MX795F512L"
	---help---
		Microchip PIC32MX795F512L (MIPS32)

endchoice

config ARCH_CHIP_PIC322MX3
	bool
	default y		if ARCH_CHIP_PIC32MX320F032H || ARCH_CHIP_PIC32MX320F064H || ARCH_CHIP_PIC32MX320F128H || ARCH_CHIP_PIC32MX320F128L || ARCH_CHIP_PIC32MX340F128H || ARCH_CHIP_PIC32MX340F256H || ARCH_CHIP_PIC32MX340F512H || ARCH_CHIP_PIC32MX340F128L || ARCH_CHIP_PIC32MX360F256L || ARCH_CHIP_PIC32MX360F512L
	
config ARCH_CHIP_PIC322MX4
	bool
	default y		if ARCH_CHIP_PIC32MX420F032H || ARCH_CHIP_PIC32MX440F128H || ARCH_CHIP_PIC32MX440F128L || ARCH_CHIP_PIC32MX440F256H || ARCH_CHIP_PIC32MX440F512H || ARCH_CHIP_PIC32MX460F256L || ARCH_CHIP_PIC32MX460F512L

config ARCH_CHIP_PIC322MX5
	bool
	default y		if ARCH_CHIP_PIC32MX534F064H || ARCH_CHIP_PIC32MX534F064L || ARCH_CHIP_PIC32MX564F064H || ARCH_CHIP_PIC32MX564F064L || ARCH_CHIP_PIC32MX564F128H || ARCH_CHIP_PIC32MX564F128L || ARCH_CHIP_PIC32MX575F256H || ARCH_CHIP_PIC32MX575F256L || ARCH_CHIP_PIC32MX575F512H || ARCH_CHIP_PIC32MX575F512L

config ARCH_CHIP_PIC322MX6
	bool
	default y		if ARCH_CHIP_PIC32MX664F064H || ARCH_CHIP_PIC32MX664F064L || ARCH_CHIP_PIC32MX664F128H || ARCH_CHIP_PIC32MX664F128L || ARCH_CHIP_PIC32MX675F256H || ARCH_CHIP_PIC32MX675F256L || ARCH_CHIP_PIC32MX675F512H || ARCH_CHIP_PIC32MX675F512L || ARCH_CHIP_PIC32MX695F512H || ARCH_CHIP_PIC32MX695F512L

config ARCH_CHIP_PIC322MX7
	bool
	default y		if ARCH_CHIP_PIC32MX764F128H || ARCH_CHIP_PIC32MX764F128L || ARCH_CHIP_PIC32MX775F256H || ARCH_CHIP_PIC32MX775F256L || ARCH_CHIP_PIC32MX775F512H || ARCH_CHIP_PIC32MX775F512L || ARCH_CHIP_PIC32MX795F512H || ARCH_CHIP_PIC32MX795F512L

config ARCH_CHIP_PIC32MX
	bool
	default y		if ARCH_CHIP_PIC322MX3 || ARCH_CHIP_PIC322MX4 || ARCH_CHIP_PIC322MX5 || ARCH_CHIP_PIC322MX6 || ARCH_CHIP_PIC322MX7

config ARCH_MIPS32
	bool
	default y		if ARCH_CHIP_PIC32MX

config ARCH_FAMILY
	string
	default "mips32"	if ARCH_MIPS32

config ARCH_CHIP
	string
	default "pic32mx"	if ARCH_CHIP_PIC32MX

source arch/mips/src/common/Kconfig
source arch/mips/src/mips32/Kconfig
source arch/mips/src/pic32mx/Kconfig

endif
