<?xml version="1.0"?>
<model>
  <name>Rover</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>
  <description>A model of the NXP Mobile Robotics Buggy3.</description>
</model>
