uorb start
qshell start
param set SYS_AUTOSTART 4001
param set MAV_TYPE 2
param set MC_YAW_P 12
param set MC_YAWRATE_P 0.08
param set MC_YAWRATE_I 0.0
param set MC_YAWRATE_D 0
param set MC_PITCH_P 7.0
param set MC_PITCHRATE_P 0.08
param set MC_PITCHRATE_I 0.0
param set MC_PITCHRATE_D 0.001
param set MC_ROLL_P 7.0
param set MC_ROLLRATE_P 0.08
param set MC_ROLLRATE_I 0.0
param set MC_ROLLRATE_D 0.001
param set ATT_W_MAG 0.00
param set SENS_BOARD_ROT 0
param set RC_RECEIVER_TYPE 1
param set UART_ESC_MODEL 2
param set UART_ESC_BAUD 250000
param set UART_ESC_MOTOR1 4
param set UART_ESC_MOTOR2 2
param set UART_ESC_MOTOR3 1
param set UART_ESC_MOTOR4 3
param set SYS_MC_EST_GROUP 2
sleep 1
df_mpu9250_wrapper start
df_bmp280_wrapper start
gps start -d /dev/tty-4
sensors start
commander start
ekf2 start
land_detector start multicopter
mc_pos_control start
mc_att_control start
uart_esc start -D /dev/tty-2
spektrum_rc start -d /dev/tty-1
sleep 1
list_devices
list_files
list_tasks
list_topics
