uorb start
qshell start
param set SYS_AUTOSTART 4001
param set MAV_TYPE 2
param set MC_YAW_P 12
param set MC_YAWRATE_P 0.08
param set MC_YAWRATE_I 0.0
param set MC_YAWRATE_D 0
param set MC_PITCH_P 7.0
param set MC_PITCHRATE_P 0.08
param set MC_PITCHRATE_I 0.0
param set MC_PITCHRATE_D 0.001
param set MC_ROLL_P 7.0
param set MC_ROLLRATE_P 0.08
param set MC_ROLLRATE_I 0.0
param set MC_ROLLRATE_D 0.001
param set ATT_W_MAG 0.00
param set SENS_BOARD_ROT 0

sleep 1
mpu9250 start
bmp280 -I start
gps start -d /dev/tty-4
rc_update start
sensors start
commander start
ekf2 start
land_detector start multicopter
mc_hover_thrust_estimator start
mc_pos_control start
mc_att_control start
mc_rate_control start
uart_esc start -D /dev/tty-2
spektrum_rc start -d /dev/tty-1
sleep 1
list_files
list_tasks
