name: Clang Tidy

on:
  push:
    branches:
    - 'main'
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - 'docs/**'

jobs:
  build:
    runs-on: [runs-on, runner=16cpu-linux-x64, "run-id=${{ github.run_id }}"]
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true

    - name: Testing (clang-tidy)
      uses: addnab/docker-run-action@v3
      with:
        image: px4io/px4-dev:v1.17.0-beta1
        options: -v ${{ github.workspace }}:/workspace
        run: |
          cd /workspace
          make -j16 clang-tidy
