name: MAVROS Offboard Tests

on:
  push:
    branches:
    - 'main'
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - 'docs/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build SITL and Run Tests (inside old ROS container)
        run: |
          docker run --rm \
            -v "${GITHUB_WORKSPACE}:/workspace" \
            -w /workspace \
            px4io/px4-dev-ros-melodic:2021-09-08 \
            bash -c '
              git config --global --add safe.directory /workspace
              make px4_sitl_default
              make px4_sitl_default sitl_gazebo-classic
              ./test/rostest_px4_run.sh \
                mavros_posix_tests_offboard_posctl.test \
                vehicle:=iris
            '
