name: SITL Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    container: px4io/px4-dev-simulation-bionic:2019-12-18
    steps:
    - uses: actions/checkout@v1
    - name: Build PX4 in simulation mode
      run: PX4_MAVSDK_TESTING=y DONT_RUN=1 make px4_sitl gazebo mavsdk_tests
    - name: Run simulation tests
      run:  test/mavsdk_tests/mavsdk_test_runner.py --verbose --speed-factor 20
