#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

comment "Networking Utilities"

source "$APPSDIR/netutils/codecs/Kconfig"
source "$APPSDIR/netutils/dhcpc/Kconfig"
source "$APPSDIR/netutils/dhcpd/Kconfig"
source "$APPSDIR/netutils/ftpc/Kconfig"
source "$APPSDIR/netutils/ftpd/Kconfig"
source "$APPSDIR/netutils/json/Kconfig"
source "$APPSDIR/netutils/resolv/Kconfig"
source "$APPSDIR/netutils/smtp/Kconfig"
source "$APPSDIR/netutils/telnetd/Kconfig"
source "$APPSDIR/netutils/tftpc/Kconfig"
source "$APPSDIR/netutils/thttpd/Kconfig"
source "$APPSDIR/netutils/uiplib/Kconfig"
source "$APPSDIR/netutils/webclient/Kconfig"
source "$APPSDIR/netutils/webserver/Kconfig"
source "$APPSDIR/netutils/discover/Kconfig"
source "$APPSDIR/netutils/xmlrpc/Kconfig"
